*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.text{
    color:wheat;
    font-weight: bold;
    font-size: 1rem;
}

.container {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.clock-timer {
    font-size: 3rem;
}